Projekt1/Projekt1/bin/Debug/Projekt1.vshost.exe
Projekt1/Projekt1/bin/Debug/Projekt1.vshost.exe.manifest
Projekt1/Projekt1/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Projekt1/Projekt1/bin/Debug/Projekt1.exe
Projekt1/Projekt1/bin/Debug/Projekt1.pdb
Projekt1/Projekt1/obj/x86/Debug/Projekt1.csproj.FileListAbsolute.txt
Projekt1/Projekt1/obj/x86/Debug/Projekt1.exe
Projekt1/Projekt1/obj/x86/Debug/Projekt1.pdb
